@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    background-color: #B4CF66;
}

body {
    margin: rem();
    padding: rem();
}

a:hover {
    color: green;
}

main {
    padding: 16px;
}

header {
    background-color: #FF5A33;
    padding: 24px 0px 24px 0px;
}

footer {
    padding: 24px 0px 24px 0px;
    background-color: #FFEC5C;
}

img {
    height: 200px;
}

nav {
    border: 1px black;
    padding: 16px;
}

#no_line {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#centered-content {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
  }

tr:nth-child(odd) {
    background-color: antiquewhite;
}

#dark-font {
    color: #146152;
}